In [1]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("patrickb1912/ipl-complete-dataset-20082020")

print("Path to dataset files:", path)

/Users/abhaypratapsingh/Documents/tensorflow-metal/lib/python3.9/site-packages/urllib3/__init__.py:35: NotOpenSSLWarning: urllib3 v2 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(

Path to dataset files: /Users/abhaypratapsingh/.cache/kagglehub/datasets/patrickb1912/ipl-complete-dataset-20082020/versions/3

In [2]:
#!pip install seaborn

In [3]:
import matplotlib.pyplot as plt
import warnings
import seaborn as sns

In [4]:
from sklearn.model_selection import train_test_split
from sklearn import svm

In [5]:
import pandas as pd
import numpy as np
import os
import sys

In [6]:
#df=pd.read_csv(/Users/abhaypratapsingh/.cache/kagglehub/datasets/patrickb1912/ipl-complete-dataset-20082020/versions/3/)

In [7]:
!pwd

/Users/abhaypratapsingh/Documents/tensorflow-metal/bin/ML_Notebooks

In [8]:
for file in os.listdir(path):
    print(file)
    df=pd.read_csv(path+'/'+file)

matches.csv
deliveries.csv

In [9]:
df

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260915,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,SS Iyer,AK Markram,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260916,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,VR Iyer,AK Markram,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260917,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260918,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,SS Iyer,Shahbaz Ahmed,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260919,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN

In [10]:
df.count()

match_id            260920
inning              260920
batting_team        260920
bowling_team        260920
over                260920
ball                260920
batter              260920
bowler              260920
non_striker         260920
batsman_runs        260920
extra_runs          260920
total_runs          260920
extras_type          14125
is_wicket           260920
player_dismissed     12950
dismissal_kind       12950
fielder               9354
dtype: int64

In [11]:
df.head()

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN

In [12]:

for file in os.listdir(path):
    print(file)
    df=pd.read_csv(path+'/'+'matches.csv')
    df_matches=pd.read_csv(path+'/'+'matches.csv')

matches.csv
deliveries.csv

In [13]:
df_matches.columns

Index(['id', 'season', 'city', 'date', 'match_type', 'player_of_match',
       'venue', 'team1', 'team2', 'toss_winner', 'toss_decision', 'winner',
       'result', 'result_margin', 'target_runs', 'target_overs', 'super_over',
       'method', 'umpire1', 'umpire2'],
      dtype='object')

In [14]:
df_matches.head()

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper
4,335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan

In [17]:
mom_count=df_matches['player_of_match'].value_counts()

In [18]:
#Most man of the matches in IPL
mom_count.head(30)

player_of_match
AB de Villiers    25
CH Gayle          22
RG Sharma         19
DA Warner         18
V Kohli           18
MS Dhoni          17
SR Watson         16
YK Pathan         16
RA Jadeja         16
AD Russell        15
SP Narine         15
SK Raina          14
KA Pollard        14
JC Buttler        13
G Gambhir         13
KL Rahul          13
AM Rahane         13
MEK Hussey        12
A Mishra          12
Rashid Khan       12
S Dhawan          12
V Sehwag          11
SV Samson         11
DR Smith          11
RD Gaikwad        11
AT Rayudu         10
UT Yadav          10
F du Plessis      10
JH Kallis         10
Shubman Gill      10
Name: count, dtype: int64

# EDA

In [22]:
df.shape

(1095, 20)

In [24]:
df.describe()

                 id  result_margin  target_runs  target_overs
count  1.095000e+03    1076.000000  1092.000000   1092.000000
mean   9.048283e+05      17.259294   165.684066     19.759341
std    3.677402e+05      21.787444    33.427048      1.581108
min    3.359820e+05       1.000000    43.000000      5.000000
25%    5.483315e+05       6.000000   146.000000     20.000000
50%    9.809610e+05       8.000000   166.000000     20.000000
75%    1.254062e+06      20.000000   187.000000     20.000000
max    1.426312e+06     146.000000   288.000000     20.000000

In [26]:
df.isnull()

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1090,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
1091,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
1092,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
1093,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
1094,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False

In [34]:
def Classify_features(df):
    categorical_features=[]
    non_categorical_featires=[]
    continuous_features=[]
    Discrete_features=[]


    for column in df.columns:
        if df[column].dtype=='object':
            if df[column].nunique() < 10:
                categorical_features.append(column)
            else:
                non_categorical_featires.append(column)

        elif df[column].dtype in ['int64','float64','float32','int32']:
            if df[column].nunique() < 30:
                Discrete_features.append(column)
            else:
                continuous_features.append(column)

    return categorical_features,non_categorical_featires,continuous_features, Discrete_features

In [35]:
categorical,noncategorical,discrete,continuous=Classify_features(df)

In [40]:
print("Categorical Features are :", categorical)

print("Non Categorical Features are :", noncategorical)

print("Continuous Features are :", discrete)

print("Discrete Features are :", continuous)

Categorical Features are : ['match_type', 'toss_decision', 'result', 'super_over', 'method']
Non Categorical Features are : ['season', 'city', 'date', 'player_of_match', 'venue', 'team1', 'team2', 'toss_winner', 'winner', 'umpire1', 'umpire2']
Continuous Features are : ['id', 'result_margin', 'target_runs']
Discrete Features are : ['target_overs']

In [41]:
!pwd

/Users/abhaypratapsingh/Documents/tensorflow-metal/bin/ML_Notebooks